/* Entypo - Link Icons */
@import url(https://cdn.jsdelivr.net/font-entypo/0.1/desktop/Entypo-Social.ttf);
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

a {
	color: #ffffff;
	text-decoration: none!important;
}

a:hover {
	color: #000;
}

#avatar {
	border-radius: 50%;
	border: 0.5em solid #16A085;
	height: 12.5em;
	width: auto;
	margin: 2.5em auto 0;
}
#adjust {
	width: 85%;
	margin: 0 auto;
}
#adjust .phone{
	padding: 1.5em 0;
}

.banner h1{
	font-size: 3.25em;
	padding-top: 1.25em;
}
.banner h2{
	font-size: 1em;
	color: #E8E8E8;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 500;
	padding-bottom: 5em;
}

.button {
	display: inline-block;
}
.button a{
	color: #FFFFFF !important;
	text-decoration: none !important;
	border: #FFFFFF !important;
}
.button a hover{
	color: #FFFFFF !important;
	text-decoration: none !important;
	border: #FFFFFF !important;
}
.button {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 0.9em;
	letter-spacing: 3px;
	display: block;
	padding: 0.8em 1em;
	clear: both;
	margin: 1.8em auto;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	cursor: pointer;
	border: solid 1px #FFFFFF !important;
	border-radius: 7.5px;
	text-decoration: none !important;
}
.button:focus {
	outline: none;
}
.button > span {
	vertical-align: middle;
}

.container-fluid {
	padding: 0 !important;
}

/* Media Queries*/
@media only screen and (max-width: 767px) {

#about {
  	display: inherit; !important;
  	width: 75vw;
  }
#footer {
	text-align: center;
	background: #2C2A29;
	color: #CEB888;
}
#footer2 {
	text-align: center;
	background: #2C2A29;
	color: #CEB888;
}
.info hr, p{
 	display: none;
 }
 .phone {
   	margin: 0 5vw !important;
   }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}
